@page
@model ThirdLabNet.Pages.Visits.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Client.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Client.AccountNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Client.AccountNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Client.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Client.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Client.PassportNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Client.PassportNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Client.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Client.Address)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Operation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Operation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Operation.Contribution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Operation.Contribution)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Operation.Payment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Operation.Payment)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Visit.VisitDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.VisitDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Visit.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
